.container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 800px;
}

.image {
  border-radius: 50%;
  flex-shrink: 0;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

.header {
  font-size: 22px;
  margin: 0;
}

.paragraph {
  font-size: 16px;
  text-align: left;
  margin: 0;
}

.date {
  font-size: 14px;
  color: #909090;
  margin: 0;
}

@media (max-width: 1300px) {
  .container {
    gap: 8px;
  }

  .image {
    width: 38px !important;
    height: 38px !important;
  }

  .header {
    font-size: 14px;
  }

  .paragraph {
    font-size: 11px;
  }

  .date {
    font-size: 10px;
  }
}
